@import "~bootstrap/dist/css/bootstrap.min.css";

.fc-past {
  opacity: 0.5;
  /* Adjust the opacity to make past dates appear disabled */
  pointer-events: none;
  /* Disable pointer events for past dates */
}
.fc-past-bg{
  background-color: rgb(109, 180, 241) !important;
}
.fc-day.fc-day-fri.holiday-msg{
  color: #000;
  padding-top: 50px;
  background-color: #f5c6cb !important;
}
/* to change the color of days in calendar */
.fc-day {
  color: #000000 !important;
  width: 50px !important;
  height: 50px !important;
}
.clicked-date{
  background-color: #f0c39a;
}
/* Book slot button */
.bookSlot-btn {
  color: #fff;
  background-color: aqua !important;
}
.heading {
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 20px;
}
.fc-customTitle-button{
  background-color: #f5c6cb !important;
  border: none !important;
  color: #000 !important;
  font-weight: bold !important;
}
/* Add styles for the holiday event card */
.fc-event.fc-holiday {
  background-color: #f8d7da; /* Add your preferred background color */
  border-color: #f5c6cb; /* Add your preferred border color */
  color: #721c24; /* Add your preferred text color */
}
/* .fc-view-harness{
  text-decoration: none !important;
} */
.react-datepicker-wrapper,
.react-datepicker {
  width: 100% !important; /* Set the desired width (adjust as needed) */
  font-size: 17px !important;
}
.react-datepicker {
  width: 140% !important;
  color: #000 !important;
}
.react-datepicker__month-container {
  width: 80% !important;
}
/* .react-datepicker__day,
.react-datepicker__day-name {
  font-size: 16px;
} */
.react-datepicker__time-container {
  width: 20% !important;
  font-size: 18px;
  padding: 12px;
}
.custom-modal {
  max-width: 80%; /* Set the desired width (you can adjust the percentage as needed) */
  margin: 0 auto; /* Center the modal horizontally */
}
label, .noBookings{
  font-size: 18px;
}
.close{
  margin-left: 10px;
}
.back{
  margin-right: 10px;
}
/* Screen sizes */

/* Set a maximum width for the calendar */
.full-calendar-container {
  max-width: 100%;
}

/* The calendar scales down on smaller screens */
.fc-view {
  min-height: 0; /* Allows the calendar to shrink */
}

/* Define styles for the calendar header */
.fc-toolbar {
  margin-bottom: 1em; /* Add some space below the header */
}

/* Define styles for the buttons in the header */
.fc-button {
  margin: 0 0.5em; /* Adjust the spacing between buttons */
}
/* Adjust styles for smaller screens */
@media (max-width: 767px) {
  .fc-toolbar {
    text-align: center; /* Center align the header buttons */
  }

  .fc-button {
    margin: 0.2em; /* Adjust the spacing for smaller screens */
  }
}
